.alert-banner {
  padding: 10px 20px;
  background-color: #c2c2af;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-link {
  margin-left: 10px;
}
.banner-link a {
  color: #333333;
  font-weight: bold;
}

.shipping-banner {
  background-color: #252525;
  font-size: 15px;
  line-height: 21px;
  color: #fffef2;
  display: flex;
  gap: 0.5rem;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.plus-icon svg {
  font-size: 8px;
}

.hero {
  position: relative;
}
.nav-container {
  position: relative;
}
nav {
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: relative;
  z-index: 10;
}

@media only screen and (min-width: 321px) {
  nav {
    z-index: 1000;
  }
}

.logo img {
  width: 70px;
}

.nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav-link {
  font-size: 20px;
  color: #fff;
}

.cart-text {
  font-size: 15px;
}

.cart-text:hover {
  text-decoration: underline;
  color: inherit;
}

picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.hero-container {
  padding-top: 40px;
  margin-top: -120px;
}

.hero-text-container {
  background-color: #333333;
  color: #fff;
  padding: 40px 20px;
}

.bar-soap {
  font-size: 14px;
  margin-bottom: 27px;
}

.hero-text {
  line-height: 30px;
  font-size: 25px;
  margin-bottom: 20px;
}
.hero-info {
  line-height: 26px;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
}
.hero-discover {
  padding: 18px 25px;
  border: 1px solid #fff;
  /* margin-bottom: 10px; */
}

.dis-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.arrow {
  font-size: 22px;
}
