.alert-banner {
  padding: 10px 20px;
  background-color: #c2c2af;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-link {
  margin-left: 10px;
}
.banner-link a {
  color: #333333;
  font-weight: bold;
}

.shipping-banner {
  background-color: #252525;
  font-size: 15px;
  line-height: 21px;
  color: #fffef2;
  display: flex;
  gap: 0.5rem;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.plus-icon svg {
  font-size: 8px;
}

.hero {
  position: relative;
}
.nav-container {
  position: relative;
}
nav {
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: relative;
  z-index: 10;
}

@media only screen and (min-width: 321px) {
  nav {
    z-index: 1000;
  }
}

.logo img {
  width: 70px;
}

.nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.nav-link {
  font-size: 20px;
  color: #fffef2;
}

.cart-text {
  font-size: 15px;
}

.cart-text:hover {
  text-decoration: underline;
  color: inherit;
}

picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.hero-container {
  padding-top: 40px;
  margin-top: -120px;
}

.hero-text-container {
  background-color: #333333;
  color: #fffef2;
  padding: 40px 20px;
}

.bar-soap {
  font-size: 14px;
  margin-bottom: 27px;
}

.hero-text {
  line-height: 30px;
  font-size: 25px;
  margin-bottom: 20px;
}
.hero-info {
  line-height: 26px;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
}
.hero-discover {
  padding: 18px 25px;
  border: 1px solid #fffef2;
}

.dis-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.arrow {
  font-size: 22px;
  display: flex;
}

.body-soap-section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: #fffef2;
}

.body-soap-text-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin-top: 70px;
}

.for-body {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}
.for-care {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.for-info-detail {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}

.see-body-care p {
  display: flex;
  align-items: center;
}
.body-arrow {
  display: flex;
  font-size: 20px;
}

.carousel {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.slider-main-container {
  height: 400px;
  position: relative;
}
.slide-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.slide-img-container {
  display: flex;
  justify-content: center;
}

.slide-img-container img {
  width: 55%;
  object-fit: cover;
}

.slide-text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 15px;
}

.slide-info-head {
  font-weight: bold;
}

.slider-left-arrow {
  position: absolute;
  top: 10%;
  transform: translate(0, -50%);
  left: 0px;
  font-size: 30px;
  color: #fffef2;
  background-color: #333333;
  padding: 10px;
  z-index: 2;
  cursor: pointer;
}
.slider-right-arrow {
  position: absolute;
  top: 10%;
  transform: translate(0, -50%);
  right: 0px;
  font-size: 30px;
  color: #fffef2;
  background-color: #333333;
  padding: 10px;
  z-index: 2;
  cursor: pointer;
}

.slide-indicator {
  background-color: gray;
  height: 2px;
  position: relative;
}

.slide-indicator-btn {
  position: absolute;
  background-color: #000;
  width: 30%;
}

.warm-readmore {
  padding: 18px 25px;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.readmore-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.warm-img-container {
  padding-left: 20px;
  margin-top: -50px;
}

.poo-img-container {
  padding-right: 20px;
  margin-top: 50px;
  margin-bottom: -100px;
}

.post-poo-info {
  font-size: 17px;
}

.quote-container {
  background-color: #fffef2;
  height: 300px;
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  flex-direction: column;
  gap: 2rem;
}
.quote {
  font-size: 25px;
  text-align: center;
}

footer {
  background-color: #252525;
  color: #fffef2;
  font-size: 14px;
}

.footer-container a {
  color: inherit;
}
.footer-container {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  padding: 35px 20px;
}

.subscribe {
  grid-column: 1/3;
}

.sub-head {
  margin-bottom: 10px;
  font-weight: bold;
  padding: 0;
  width: 100%;
}
.footer-hr {
  margin-bottom: 10px;
  width: 100%;
}

.email-btn {
  border: 1px solid #fffef2;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 10px;
}

.email-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 100%;
}

.subs-checkbox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  line-height: 20px;
  font-size: 12px;
  width: 100%;
}

.order-support p {
  padding: 6px 0;
  font-size: 13px;
  width: 100%;
  /* line-height: 18px; */
}

.order-underline {
  text-decoration: underline;
}
.order-line-height {
  line-height: 25px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-top: 3px solid #fffef2;
}

.footer-bottom p {
  font-size: 18px;
}

.socials {
  display: flex;
  font-size: 27px;
  gap: 2.25rem;
}
.socials a {
  color: #fffef2;
}
